@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: white;
}
p, h1, h2, ul {
  margin: 0;
  padding: 0;
}

input, textarea, select{
  background: none;
}
html {
  box-sizing: border-box;
  font-size: 80%;
}







/* Success css starts */
.sc-container{
  width:100%;
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sc-container img{
  width:200px;
  margin:2rem 0;
}
.sc-container h1{
  font-size: 2.8rem;
  margin-bottom:10px;
}
.sc-container p{
  max-width:600px;
  font-size: 0.97rem;
  text-align: center;
  margin: 0.5rem 0;
}
.sc-btn{
  padding:12px 20px;
  border-radius: 2rem;
  background-color: #02ac70;
  color:#ffffff;
  font-size: 1rem;
  font-weight: 500;
}

/* Success css ends */






/* Footer css starts */
footer {
  bottom: 0;
  background: white;
  color: black;
}


footer .info {
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  color: white;
}

footer .info .legal {
  display: flex;
  flex-wrap: nowrap;
}

footer .info .legal > a {
  margin-right: 15px;
}

footer .social {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

footer .social i {
  font-size: 1.4rem;
  margin: 2px 8px;
  cursor: pointer;
}

footer .social:before {
  position: absolute;
  content: "";
  width: 90%;
  height: 1px;
  background: rgba(255, 255, 255, 0.192);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

footer .top {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

footer .top .pages {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
footer .top .pages ul h3{
  margin-bottom: 1.5rem;
}

footer .top .pages ul {
  margin: 20px;
}

footer .top .pages ul li {
  margin: 5px;
}
footer .top .pages ul li a{
  color:black;
  text-decoration: none;
}

footer .newsletter h3 {
  margin-bottom: 1.5rem
}
footer .newsletter form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
footer .newsletter form #newsletter_email {
  padding:0.3rem 0.6rem;
  border:1px solid black;
  border-radius: 3px;
  outline: none;
}
footer .newsletter form .submit{
  background-color: black;
  color:white;
  padding: 0.3rem 0.6rem;
  border-radius: 3px;

}
footer .info {
  flex-direction: column;
}


@media screen and (max-width: 768px) {
  footer .top {
    flex-direction: column;
    gap: 4rem;
  }
  footer .top .newsletter {
    padding-top: 1rem;
  }
  footer .top .pages ul {
    margin: 10px;
  }
}

@media screen and (max-width: 600px) {
  footer .top .pages {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  footer .info {
    flex-direction: column;
  }

  footer .info > .copyright {
    margin-top: 10px;
  }
}

@media screen and (max-width: 380px) {
  footer .top .pages {
    justify-content: center;
    flex-direction: column;
  }
 
}

/* Footer css ends */


/* Login signup css starts */
.form-container{
  background: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding:3rem;
}

@media(max-width:400px){
  .form-container{
    padding: 3rem 1.5rem;
  }
}

.social-container a {
  border: 2px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  color: #333;
  font-size: 14px;
  text-decoration: none;
}
/* Login signup css ends */


/* home page css starts */
.homebg{
  background:url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 770px) {
  .homebg{
    padding-top:12rem;
  }
}

.home-img{
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 2rem;
}
.home-img1{
  background:url('./images/01.jpg');
}
.home-img2{
  background:url('./images/02.jpg');
}
.home-img3{
  background:url('./images/03.jpg');
}
.home-img4{
  background:url('./images/04.jpg');
}
.home-img5{
  background:url('./images/05.jpg');
}
/* Home page css ends */